<td>
    <% if(typeof milesDate !== 'undefined') {%>
    <%= milesDate %>
    <%}%>
</td>
<td>
    <% if(typeof property !== 'undefined') {%>
    <%= property.address %>
    <%}%>
</td>
<td>
    <% if(typeof milesType !== 'undefined') {%>
    <%= milesType %>
    <%}%>
</td>
<td>
    <% if(typeof numberOfMiles !== 'undefined') {%>
    <%= numberOfMiles %>
    <%}%>
</td>
<td>
    <% if(typeof property !== 'undefined') {%>
    <div id='graph_<%= property.id %>' class='graph <%= property.id %>'></div>
    <%}%>
</td>