
    <h2>Show Property</h2>
    <p>
        <span class='infoLabel'>Address</span> <br/>
        <%= address %>
    </p>
    <p>
        <span class='infoLabel'>Mortgage Amount</span> <br/>
        <%= mortgage %>
    </p>
    <p>
        <span class='infoLabel'>Current Rent</span> <br/>
        <%= currentRent %>
    </p>
    <p>
        <span class='infoLabel'>Tax</span> <br/>
        <%= tax %>
    </p>
    <p>
        <span class='infoLabel'>Escrow</span> <br/>
        <%= escrow %>
    </p>
    <p>
        <span class='infoLabel'>Security Deposite</span> <br/>
        <%= security %>
    </p>
    <p>
        <span class='infoLabel'>Pet Deposite</span> <br/>
        <%= pet %>
    </p>
    <p>
        <span class='infoLabel'>Rent Permit Date</span> <br/>
        <%= rentPermit %>
    </p>
    <p>
        <span class='infoLabel'>Lease Start Date</span> <br/>
        <%= leaseStart %>
    </p>
    <p>
        <span class='infoLabel'>Lease End Date</span> <br/>
        <%= leaseEnd %>
    </p>
    <p>
        <span class='infoLabel'>Image Location</span> <br/>
        <%= imageLocation %>
    </p>

    <p>Make Tenants List Here</p>
