
    <h2>Show Property</h2>
    <p>
        <span class='infoLabel'>Address</span> <br/>
        <% if(typeof address !== 'undefined') {%>
            <%= address %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Mortgage Amount</span> <br/>
        <% if(typeof mortgage !== 'undefined') {%>
            <%= mortgage %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Current Rent</span> <br/>
        <% if(typeof currentRent !== 'undefined') {%>
            <%= currentRent %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Tax</span> <br/>
        <% if(typeof tax !== 'undefined') {%>
            <%= tax %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Escrow</span> <br/>
        <% if(typeof escrow !== 'undefined') {%>
            <%= escrow %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Security Deposite</span> <br/>
        <% if(typeof security !== 'undefined') {%>
            <%= security %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Pet Deposite</span> <br/>
        <% if(typeof pet !== 'undefined') {%>
            <%= pet %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Rent Permit Date</span> <br/>
        <% if(typeof rentPermit !== 'undefined') {%>
            <%= rentPermit %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Lease Start Date</span> <br/>
        <% if(typeof leaseStart !== 'undefined') {%>
            <%= leaseStart %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Lease End Date</span> <br/>
        <% if(typeof leaseEnd !== 'undefined') {%>
            <%= leaseEnd %>
        <%}%>
    </p>
    <p>
        <span class='infoLabel'>Image Location</span> <br/>
        <% if(typeof imageLocation !== 'undefined') {%>
            <%= imageLocation %>
        <%}%>
    </p>

    <div id='tenantList'>
        <p>Make Tenants List Here</p>
    </div>

    <div id="propertyExpenseList"/>
    <div>
        <a id='editPropertyButton'>Edit Property</a>
    </div>
    <div>
        <a id='backToPropertyListButton'>Back To List</a>
    </div>