<form>
    <!-- Make into another ejs that can be shared -->
    <span class="pictureSpan">
        <img src="<%= property.imageLocation %>" height="60px" width="60px"/>
    </span>

    <span class="addressSpan">
        <%= property.address %>
    </span>

    <input type="hidden" name='id' id='id' value='<%= id %>'/>
    <p>
        <!-- TODO Make this list come from the database -->
        <label for='milesType'>Miles Type</label> </br>
        <select id='milesType' name='milesType'>
            <option value=''></option>
            <option value='RENTAL'>Rental</option>
            <option value='HARDWARE_STORE'>Hardware Store</option>
            <option value='BANK'>Bank</option>
            <option value='REALTOR'>Realtor</option>
            <option value='OTHER'>Other</option>
        </select>
    </p>
    <p>
        <label for='milesDate'>Date</label> <br/>
        <input type='date' name='milesDate' id='milesDate' value='<%= milesDate %>'/>
    </p>
    <p>
        <label for='numberOfMiles'>Number Of Miles</label> <br/>
        <input type='number' name='numberOfMiles' id='numberOfMiles' value='<%= numberOfMiles %>'/>
    </p>

    <span <%= this %> >
        <a id='editMiles'><button type="button" class="buttonsInList btn btn-primary btn-lg btn-block">Update</button></a>
        <a id='cancelEditMiles'><button type="button" class="buttonsInList btn btn-primary btn-lg btn-block">Cancel</button></a>
    </span>
</form>

